*.log
*.swp
.DS_Store
.ReAuth.cfg
.mixin.out/
__pycache__
backups/
config/XaeroWaypoints
config/chiselsandbits_clipboard.cfg
config/jei/worldSettings.cfg
crash-reports/
dynmap
fonts/
installers
installers/
journeymap/data
logs/
minecraft_server.*jar
options.txt
realms_persistence.json
saves/
screenshots/
server/
servers.dat
usercache.json
usernamecache.json
