// JourneyMap configuration file. Modify at your own risk!
// To use in all worlds, place here: journeymap/config/5.5/
// For more information, go to: http://journeymap.info/Options_Manager
{
  "enabled": "true",
  "shape": "Circle",
  "position": "BottomRight",
  "showDayNight": "true",
  "info1Label": "Blank",
  "info2Label": "Biome",
  "info3Label": "Location",
  "info4Label": "Blank",
  "sizePercent": "20",
  "frameAlpha": "50",
  "terrainAlpha": "50",
  "orientation": "North",
  "compassFontScale": "2",
  "showCompass": "false",
  "showReticle": "true",
  "reticleOrientation": "PlayerHeading",
  "active": true,
  "playerDisplay": "SmallDots",
  "showPlayerHeading": "true",
  "mobDisplay": "SmallDots",
  "showMobHeading": "false",
  "showMobs": "false",
  "showAnimals": "false",
  "showVillagers": "false",
  "showPets": "false",
  "showPlayers": "true",
  "fontScale": "2",
  "showWaypointLabels": "true",
  "locationFormatVerbose": "false",
  "locationFormat": "xzy",
  "showWaypoints": "true",
  "showSelf": "true",
  "showGrid": "false",
  "showCaves": "false",
  "showEntityNames": "false",
  "preferredMapType": "night",
  "zoomLevel": "0",
  "configVersion": "5.5.3"
}